.product-item {
  padding: 2rem;
  color: $color-1;

  &__photo {
    text-align: center;
    position: relative;
  }

  &__image {
    width: 60%;
  }
  &__icon-sale {
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 25%;
  }

  &__info {
    text-align: center;
  }

  &__title {
    display: block;
    font-size: 1.3rem;
  }

  &__payment {
  }

  &__price {
    &--installments {
      margin-left: 1rem;
      opacity: .7;
      filter: alpha(opacity=70);
    }
  }

  &__management {
    padding: 1rem;
    line-height: 1.14;
  }

  &__select {
    color: inherit;
    font-family: inherit;
    width: 15%;
    background-color: transparent;
    outline: 0;
    border: 1px solid $color-1;
    padding: .35rem;
  }

  &__btn {
    margin-left: 1rem;
  }
}
