.header {
  padding: 0.8rem 0;
  background-color: $color-1;
  color: $color-white;
  border-bottom: .1rem solid $color-white;
  text-align: center;
  position: relative;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &__title {
    display: inline;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 700;
  }

  &__cart {
    display: block;
    outline: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    color: inherit;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(-50%, -50%);
  }

  &__cart__badge {
    display: block;
    position: absolute;
    top: 0;
    right: -.7rem;
    line-height: 1.7rem;
    font-size: 1.1rem;
    background-color: $color-4;
    width: 1.7rem;
    border-radius: 50%;
    font-weight: 700;
  }
}
