.sub-header {
  background-color: $color-2;
  padding: 0.75rem 0;
  color: $color-white;
  font-size: 1.3rem;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &--left {
    display: block;
    float: left;
    width: 30%;
    text-align: left;
  }

  &--right {
    display: block;
    float: left;
    width: 70%;
    text-align: right;
  }

  &__items {
    padding-left: 1rem;
  }

  &__items-value {
    color: darken($color-white, .8);
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &__items-unit {

  }

  &__search {
    display: inline-block;
    padding-right: 1rem;
    width: 60%;
  }

  &__search__input {
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    border: 0;
    outline: 0;
    width: 90%;
    border-bottom: 1px solid $color-white;
    transition: all .2s ease;

    &::placeholder {
      color: $color-white-dark-1;
    }

    &:focus {
      outline: 0;
      border-bottom: 1px solid $color-4;
      box-shadow: 0 1rem 2rem rgba($color-white, .15);
    }
  }

  &__search__input__label {
    width: 10%;
  }

  &__filter {
    display: inline-block;
    position: relative;
    padding-right: 1rem;
  }

  &__filter__input {
    border: 0;
    clip: rect(0 0 0 0);
    height: .1rem;
    margin: -.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: .1rem;
  }

  &__filter__label {
    cursor: pointer;
    position: relative;
    padding-left: 2rem;

    &:before {
      position: absolute;
      top: 15%;
      left: 0;
      content: "";
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid $color-white;
    }

    &:after {
      position: absolute;
      top: 15%;
      left: 0;
      content: "";
      width: 0.75rem;
      height: 0.75rem;
      transform: translate(50%, 50%);
      background-color: transparent;
      transition: background-color .3s;
    }
  }

  &__filter__input:checked + &__filter__label:after {
    background-color: $color-white;
  }
}
