.sub-header {
  background-color: $color-2;
  padding: 0.75rem 0;
  color: $color-white;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &--left {
    display: inline-block;
    text-align: left;
    float: left;
    width: 30%;
  }

  &--right {
    display: inline-block;
    text-align: right;
    float: left;
    width: 70%;
  }

  &__items {
    padding-left: 1rem;
  }

  &__items-value {
    color: darken($color-white, .8);
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &__items-unit {

  }

  &__search {
    display: inline-block;
    padding-right: 1rem;
  }

  &__search__input {
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    border: 0;
    outline: 0;
    border-bottom: 1px solid $color-white;
    transition: all .2s ease;
    width: 8rem;

    &::-webkit-input-placeholder {
      color: $color-white-dark-1;
    }

    &:focus {
      outline: 0;
      border-bottom: 1px solid $color-4;
      box-shadow: 0 1rem 2rem rgba($color-white, .15);
    }
  }

  &__search__input__label {
  }

  &__filter {
    display: inline-block;
    position: relative;
    padding-right: 1rem;
  }

  &__filter__input {
    display: none;
  }

  &__filter__label {
    cursor: pointer;
  }

  &__filter__button {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: middle;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: .5rem;
      left: .9rem;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &__filter__input:checked + &__filter__label &__filter__button::after {
    display: block;
  }
}
